html {
    font-family: 'Rufina', sans-serif;
}

body {
    background-color: #efefef;
    margin: 0;
    color: #034d6c
}

a {
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
    color: #034d6c;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #EC131B;
}

.menu li:hover .submenu {
    display: block;
}

html body header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 3px 0 5px #aaa;
    padding: 10px 30px;
}

header .logo {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.menu {
    list-style: none;
    font-size: 16px;
}

.menu>li {
    display: inline-block;
    position: relative;
}

.menu>li>a {
    display: block;
}

.submenu {
    position: absolute;
    background-color: #aaa;
    width: 200%;
    padding: 2px;
    display: none;
    margin-top: 20px;
}

.aline-right {
    display: flex;
    justify-content: flex-end;
}

.submenu li {
    text-decoration: none;
    list-style: none;
    margin-top: 0px;
    padding: 0px;
}

.submenu li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #fff;
}

.menu li a {
    padding: 0 15px;
}

.hero {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    align-self: center;
}

.hero .hero-content {
    width: 900px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 2px #ddd;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 20px 30px;
}

.hero .hero-content h2 {
    display: flex;
    justify-content: center;
    font-family: 'Rufina', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}



.hero .hero-content .content-form {
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    border: none;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.hero h1 {
    font-family: 'Rufina', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.hero h2 {
    font-family: 'Rufina', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}

.left {
    width: 600px;
    align-self: center;
}


.btn {
    background-color: #EC131B;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}

.input {
    text-align: left;
    width: 500px;
    border-radius: 5px;
    margin-right: 10px;
}

.select {
    padding: 0px 30px;
    border-radius: 5px;
    margin-right: 10px;
}

a.btn {
    color: #fff;
}

.center {
    display: flex;
    justify-content: center;
}

.content {
    width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #fff;
    box-shadow: 0 1px 2px #ddd;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.four {
    margin-left: 10px;
    width: 300px;
}

.footer {
    margin-top: 0px;
    padding: 80px 0 0 0;
    background-color: #333;
    color: #fff;
}

.made-by {
    padding: 0 30px;
    color: #555;
}

.login_box {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    color: #034d6c;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.login_box .content_login_box {
    background-color: #fff;
    margin: 10px;
}

.login_form input {
    margin-bottom: 10px;
}

.login_form input {
    margin-bottom: 10px;
}

.login_form .submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Rufina', sans-serif;
    font-size: 20px;
}

.warning {
    font-family: 'Rufina', sans-serif;
    font-size: 13px;
    color: #EC131B;
}

.sidebar {
    background-color: #fff;
    width: 200px;
    color: #034d6c;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.not-animation {
    text-decoration: none;
}

.info-box {
    width: 900px;
    margin: 20px;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
    color: #034d6c;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.info-list ul {
    list-style: none;
}


.info-list ul li h4 {
    margin: 4px;
}

.info-footer {
    margin-left: 20px;
    width: 1000px;
}

.tabla-cont {
    max-height: 300px;
    border: solid 1px #ccc;
    /* Establece la altura máxima del contenedor */
    overflow-y: auto;
    margin-bottom: 10px;
    /* Agrega una barra de desplazamiento vertical cuando sea necesario */
}

.tabla-cont thead {
    background-color: #bbbbbb;
    position: sticky;
    top: 0px;

}



.tabla-cont table {
    border-collapse: collapse;
    width: 100%;
}

.tabla-cont table tbody tr {
    background-color: #f2f2f2;
}

.tabla-cont table tbody tr:nth-child(2n) {
    background-color: #cbcbcb;
}

.tabla-cont th h4 {
    margin: 5px;
}