<div class="center padded">
    <div class="content padded">
        <div class = 'padded'>
            <h1> functionalities </h1>
        </div>
        <div class='row'>
            <div class='card four'>
                <h3>Function one</h3>
                <p>Un Simple ejemplo de red neuronal programado desde cero <a class ='orange' href='#'> Link aqui</a></p>
            </div>
            <div class='card four'>
                <h3>Function two</h3>
                <p>Un Simple ejemplo de red neuronal programado desde cero <a class ='orange' href='#'> Link aqui</a></p>
            </div>
            <div class='card four'>
                <h3>Function three</h3>
                <p>Un Simple ejemplo de red neuronal programado desde cero <a class ='orange' href='#'> Link aqui</a></p>
            </div>
            <div class='card four'>
                <h3>Function four</h3>
                <p>Un Simple ejemplo de red neuronal programado desde cero <a class ='orange' href='#'> Link aqui</a></p>
            </div>
        </div>
    </div>
</div>