{% extends 'show_info.html' %}

{% block option %}
    <li><a href ="#">Genes</a></li>
{% endblock%}

{% block main_info %}
<div class ="column">
    <a href='#'><h2>{{querie}}</h2></a>   
    <div class="info-list">
        <ul>
            <li><h2>Chromosoma-id:{{data_chromosome[0]['id_chromosome']}}, Alias:{{data_chromosome[0]['alias']}}</h2></li>
            <li><h4>Organims: {{specie}} </h4></li>
            <li><h4>Size: {{data_chromosome[0]['size']}} </h4></li>
            <li><h4>Number of genes: {{data_chromosome[0]['number_genes']}} </h4></li>
        </ul>
    </div>
</div> 

{% endblock %}

{% block info_footer %}
<div class ='info-list'>
    <h1>Genes </h1>
    <hr>
    <div class= "function-table"> 
        <div class="filter">
           <a href = "#"> filter </a>
            <form class="filter" >
                <input type="checkbox">
            </form> 
        </div>
    </div>
    <form class="table-DB" method='post' action="{{ url_for('cgna_database.donwload_genes')}}">
        <div class = "tabla-cont">
            <table id= "data_table">
                <thead>
                    <tr>
                        <!--<th></th>-->
                        <th> id_genes</th>
                        <th> size</th>
                        <th> type </th>
                        <th> bio_type </th>
                    </tr>
                </thead>
                <tbody>    
                    <!--{% for dato in  data_genes %}-->
                    <tr>
                        <!--<th><input type="checkbox" name = "id_genes" value="{{dato['id_genes']}}"></th>
                        <th><a href="{{ url_for('cgna_database.click_gene', where_is='genes', id_genes = dato['id_genes']) }}">{{dato['id_genes']}}</a></th>
                        <th>{{dato['size']}}</th>
                        <th> {{dato['gene_type']}}</th>
                        <th> {{dato['bio_type']}}</h4></th>-->
                    </tr>
                    <!--{%  endfor %}-->
                </tbody>
            </table>      
        </div>
        <!--<label>
            <input type="radio" name="Format" value="fasta">
            Fasta
        </label>
        <label>
            <input type="radio" name="Format" value="gff3">
            GFF3
        </label>
        <button type="submit" > Download file </button>-->
    </form> 
</div>
<!--<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">-->

<!--
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>-->


<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">-->


<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src= "https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

<script>
    let dataTable;
    $(function(){

        $.ajax({
            url:'/data_genes/{{data_chromosome[0]['id_chromosome']}}/',
            type:"GET",
            success: function(response){
                console.log("data_genes:",response)
                $('#data_table').DataTable({
                    pageLenght:10,
                    data:response["datos"],
                    "columns":[ 
                        {"data":"id_genes"},
                        {"data":"size"},
                        {"data":"gene_type"},
                        {"data":"bio_type"}
                    ]
                })
            }
        })

    })
</script>




<form method="POST" action="{{ url_for('cgna_database.filter', where_is='chromosomes', id_querie = data_chromosome[0]['id_chromosome'])}}">
    <input type="checkbox" name="condicion">
    <button type="submit">Enviar</button>
  </form>
<!--
  {% if condicion %}
    <p>El checkbox ha sido seleccionado.</p>
  {% else %}
    <p>El checkbox no ha sido seleccionado.</p>
  {% endif %}

  <form id="myForm">
    <input type="checkbox" id="condicion">
    <button type="submit">Enviar</button>
</form>

<p id="resultado"></p>

<script>
    document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevenir el comportamiento predeterminado del formulario (recargar la página)

        var checkbox = document.getElementById('condicion');
        var resultado = document.getElementById('resultado');

        if (checkbox.checked) {
            resultado.textContent = 'El checkbox ha sido seleccionado.';
        } else {
            resultado.textContent = 'El checkbox no ha sido seleccionado.';
        }
    });
</script>
-->

{% endblock%}

