{% extends 'show_info.html' %}

{% block option %}
    <li><a href="#" > Chromosomes</a></li>
{% endblock %}


{% block main_info %}
<div class = "right" >
    <a href='#'><h2>{{querie}} {{specie[0]['specie']}}</h2></a>
    <img src="{{url_for('static', filename='Arabidopsis_thaliana.jpg')}}" width=250px/>
</div>
<div class ='left'>
    <p>
        Arabidopsis thaliana es una pequeña planta de flores blancas que pertenece a la familia de las brasicáceas, nativa de Europa y Asia occidental. Aunque puede parecer una planta común, ha adquirido una gran importancia en el campo de la biología vegetal y la genética.
    </p>
    <p>
    Esta planta se ha convertido en el organismo modelo preferido para la investigación científica en biología vegetal debido a varias características notables. En primer lugar, Arabidopsis thaliana tiene un ciclo de vida corto, lo que permite que los científicos realicen experimentos y obtengan resultados rápidamente. Además, su tamaño compacto y su facilidad para crecer en el laboratorio facilitan su manipulación y estudio.
    </p>
</div>
            
{% endblock %}

{% block info_footer%}
<div class ='info-list'>
    <h1>Chromosomes </h1>
    <hr>
    <div class = "tabla-cont">
        <table id= "data_table">
            <thead>
                <tr>
                    <th> id_chromosome</th>
                    <th> number_genes</th>
                    <th> size </th>
                    <th> gbig </th>
                    <th> alias </th>
                </tr>
            </thead>
        </table>      
    </div>

    <script>
        $(function(){
    
            $.ajax({
                url:'/data_chromosomes/{{specie[0]['id_specie']}}/',
                type:"GET",
                success: function(response){
                    console.log("data_genes:",response)
                    $('#data_table').DataTable({
                        pageLenght:10,
                        data:response["datos"],
                        "columns":[ 
                            {"data":"id_chromosome",
                            render: function (data) {
                                return '<a href="/click_gene/chromosomes/' + data + '">' + data + '</a>';
                            }
                            },
                            {"data":"number_genes"},
                            {"data":"size"},
                            {"data":"gbig"},
                            {"data":"alias"}
                        ]
                    })
                }
            })
    
        })
    </script>
</div>

{%endblock%}



<!---->