{% extends 'show_info.html' %}

{% block option %}
    <li><a href ="#">Genes</a></li>
{% endblock%}

{% block main_info %}
<div class ="column">
    <a href='#'><h2>{{querie}}</h2></a>   
    <div class="info-list">
        <ul>
            <li><h2>Chromosoma-id:{{data_chromosome[0]['id_chromosome']}}, Alias:{{data_chromosome[0]['alias']}}</h2></li>
            <li><h4>Organims: {{specie}} </h4></li>
            <li><h4>Size: {{data_chromosome[0]['size']}} </h4></li>
            <li><h4>Number of genes: {{data_chromosome[0]['number_genes']}} </h4></li>
        </ul>
    </div>
</div> 

{% endblock %}

{% block info_footer %}
<div class ='info-list'>
    <h1>Genes </h1>
    <hr>
    <div class= "function-table"> </div>
        <form class="table-DB" method='post' action="{{ url_for('cgna_database.donwload_genes')}}">
            <div class = "tabla-cont">
                <table id= "data_table">
                    <thead>
                        <tr>
                        <!--<th></th>-->
                            <th> id_genes</th>
                            <th> size</th>
                            <th> type </th>
                            <th> bio_type </th>
                        </tr>
                    </thead>
                </table>      
            </div>
        <!--<label>
            <input type="radio" name="Format" value="fasta">
            Fasta
        </label>
        <label>
            <input type="radio" name="Format" value="gff3">
            GFF3
        </label>
        <button type="submit" > Download file </button>-->
        </form> 
</div>
<script>
    $(function(){

        $.ajax({
            url:'/data_genes/{{data_chromosome[0]['id_chromosome']}}/',
            type:"GET",
            success: function(response){
                console.log("data_genes:",response)
                $('#data_table').DataTable({
                    pageLenght:10,
                    data:response["datos"],
                    "columns":[ 
                        {"data":"id_genes",
                        render: function (data) {
                            return '<a href="/click_gene/genes/' + data + '">' + data + '</a>';
                        }
                        },
                        {"data":"size"},
                        {"data":"gene_type"},
                        {"data":"bio_type"}
                    ]
                })
            }
        })

    })
</script>

<h1>Sequence</h1>
<hr>
<!--<div class = "sequence">
    <p class= "line-break" >{{data_chromosome[0]['sequence']}}</p>
</div>
-->




{% endblock%}

