{% extends 'base.html' %}
{% block title %}
    show-querie
{% endblock %}

{% block content%}
<div class = row > 
    <div class = 'sidebar'>
        <ul>
            {% block option %}{% endblock %}
        </ul>
    </div>
    <div class="info">
        <div class='info-box'>
            <div class='info-content row'>
                {% block main_info %}{% endblock %}
            </div> 
        </div>
        <div class= "info-footer">
            {% block info_footer %}{% endblock %}
        </div>
    </div>
    
</div>




{% endblock%}